@import url("normalize.css/normalize.css");
@import url("@fortawesome/fontawesome-free/css/all.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
$margin-space: 32;
[x-cloak] {
    @apply hidden;
}

@font-face {
    font-family: "IBM 3270";
    src: url("../assets/fonts/IBM-3270/3270-Regular.woff") format('woff');
}

html {
    @apply w-screen;
}

body {
    @apply h-full;
    @apply w-full;
    @apply text-center;
    @apply uppercase;
    font-family: "IBM 3270";

    @apply bg-light;
    @apply dark:bg-dark;
    @apply dark:text-light;
}

main {
    @apply w-full;
    @apply h-full;
}

h1 {
    @apply text-7xl;
    @apply mb-3;

    @apply dark:text-light;

    @screen md {
        @apply text-8xl;
    }
}

h2 {
    @apply text-5xl;
    @apply my-3;
    @apply text-left;

    @apply dark:text-light;

    @screen md {
        @apply text-6xl;
    }
}

h3 {
    @apply text-2xl;
    @apply my-3;
    @apply text-left;

    @apply dark:text-light;

    @screen md {
        @apply text-4xl;
    }
}

h4 {
    @apply text-lg;
    @apply my-3;
    @apply text-left;

    @apply dark:text-light;

    @screen md {
        @apply text-xl;
    }
}

p {
    @apply mb-1;
    @apply text-justify;
    @apply inline-block;
}

.text--hyphens {
    @apply text-justify;
    @apply inline-block;
}

section {
    @apply h-screen;
    @apply w-screen;
    @apply px-mobile;

    @screen md {
        @apply px-tablet;
    }
    @screen lg {
        @apply px-site-default;
    }
}

section:first-child {
    @apply mx-0;
}

section:last-child {
    @apply h-full;
}

.home {
    @apply w-screen;
    @apply bg-primary;
    @apply text-light;
    @apply flex-col;
    @apply flex;
}

.title {
    @apply text-left;
    @apply my-mobile;
    @apply text-6xl;

    @screen md {
        @apply text-8xl;
    }
}

.home--title {
    @apply h-1/2;
    @apply text-center;
    @apply flex;
    @apply items-end;
    @apply justify-center;
    @apply mx-0;
    @apply my-0;
}

.home--title--text {
    @apply text-center;
    @apply flex;
    @apply items-center;
    @apply justify-end;
}

.home--icons {
    @apply pt-16;
}

.icon {
    @apply text-5xl;
    @apply px-6;

    @screen md {
        @apply text-7xl;
    }
}

.switch {
    @apply w-20;
    @apply h-12;
    @apply bg-light;
    @apply bottom-mobile;
    @apply absolute;
    @apply text-secondary;
    @apply dark:text-primary;
    @apply bg-light;
    @apply dark:bg-secondary;
    @apply flex;
    @apply flex-row;
}

.home--switch--languages {
    @apply left-mobile;
}

.home--switch--element {
    @apply w-9;
    @apply h-10;
    @apply bg-primary;
    @apply text-light;
    @apply dark:text-secondary;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply mt-1;
}

.home--switch--text {
    @apply w-9;
    @apply h-10;
    @apply mt-1;
    @apply ml-1;
    @apply flex;
    @apply items-center;
    @apply justify-center;
}

.home--switch--languages--sign {

}

.home--switch--languages--text {

}

.home--switch--themes {
    @apply right-mobile;
}

.home--switch--themes--sign {

}

.home--switch--themes--text {

}

.switch--right {
    @apply flex-row-reverse;
}

.switch--left {
    @apply flex-row;
}

.about-me--content {
    @apply flex;
    @apply flex-col;

    @screen md{
        @apply flex-row-reverse;
        @apply w-full;
        @apply h-4/5;
        @apply items-center;
    }
}

.about-me--content > * {
    @screen md {
        @apply w-1/2;
    }
}

.about-me--text {
    @screen md {
        @apply w-11/12
    }
}

.about-me--profile-image {
    @apply w-full;
    @apply object-cover;
    @apply mt-mobile;

    @screen md {
        @apply mt-0;
        @apply w-11/12
    }
}

.hobbies--content {

    @apply flex;
    @apply flex-col;

    @screen md {
        @apply flex;
        @apply flex-row;

        @apply w-full;
        @apply h-4/5;
        @apply items-center;
    }
}

.hobbies--content > * {
    @apply w-full;

    @screen md {
        @apply w-1/2;
    }
}

.hobbies--list--container {
    @apply text-left;
    @apply list-disc;
}

.list--container {
    @apply text-left;
    @apply list-disc;
}

.list--element {
    @apply list-item;
    @apply list-["◻"];
    @apply list-inside;
}

.list--element > span {
    @apply relative;
    @apply left-8;
}

.list--element--space-before-bullet{
    @apply ml-8;
}

.margin--left--small {
    @apply ml-4;
}

.margin--top--small {
    @apply mt-4;
}

.hobbies--snowboarding-image {
    @apply w-full;
    @apply object-cover;
    @apply mt-mobile;
    @apply h-64;

    @screen md {
        @apply mt-0;
    }
}

.hobbies--jupa-image {
    @apply w-full;
    @apply object-cover;
    @apply mt-mobile;
    @apply h-64;
}

.skills--content {
    @apply flex;
    @apply flex-col;

    @screen md {
        @apply flex;
        @apply flex-row;

        @apply w-full;
        @apply h-4/5;
        @apply items-center;
    }
}

.skills--content > * {
    @screen md {
        @apply w-1/3;
        @apply h-2/3;
    }
}

.past-works--content {
    @apply flex;
    @apply flex-col;

    @screen md {
        @apply flex;
        @apply flex-row;

        @apply w-full;
        @apply h-4/5;
        @apply items-center;
    }
}

.private-projects--list-element--content {
    @screen md {
        @apply flex;
        @apply flex-row;
    }
}

.private-projects--list-element--content > * {
    @screen md {
        @apply w-1/2;
    }
}

.private-projects--image--container {
    @apply mt-4;
    @apply mb-10;

    @screen md {
        @apply mt-0;
        @apply mb-0;
    }
}

.private-projects--text {
    @screen md {
        @apply pr-spacing;
    }
}

.private-projects--image {
    @screen md {
        @apply pl-spacing;
    }
}

footer {
    @apply bottom-0;
    @apply bg-primary;
    @apply mt-mobile;

    @screen md {
        @apply flex;
        @apply flex-row;
        @apply justify-between;
        @apply px-tablet;
    }
    @screen lg {
        @apply px-site-default;
    }
}

.footer--text {
    @apply py-4;
    @apply text-light;
}

.hide {
    @apply hidden;
}